# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://zfpxtyinglyieabqckgu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpmcHh0eWluZ2x5aWVhYnFja2d1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY2NDM5NDEsImV4cCI6MjA5MjIxOTk0MX0.4nlEE3leyG8oD7oi1evUxaQpvlDQUfKjlQIyYLk_Lbg
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpmcHh0eWluZ2x5aWVhYnFja2d1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjY0Mzk0MSwiZXhwIjoyMDkyMjE5OTQxfQ.q94GqF-LAJjmyi0opsI8LnDDdK8ZXOpkK8gMvaeLOKg

# Claude API (se usa en Sprint 3)
ANTHROPIC_API_KEY=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

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
